<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ejercicio-element">
  <template>
    <style>
      :host {
        display: block;
        background-color: #BADFDB;
        text-align: center;
        font-family: 'Asap', sans-serif;
      }

      button {
        background-color: #fcf9ea;
        margin-left: 130px;
        border-radius: 5px;
        font-family: 'Asap', sans-serif;
        font-size: 13px;
      }

      input {
        border-radius: 5px;
        background-color: #fcf9ea;
      }

      #login {
        background-color: #ffc5a1;
        font-family: 'Flamenco', cursive;
      }
    </style>
    <h2 id="login">Log in to your account</h2>
    <template is="dom-if" if="[[!acceso]]" restamp>
      <form>
        <p>
          <label for="user">Username:</label>
          <input type="text" name="user" id="user" onfocus="this.value=''">
        </p>
        <p>
          <label for="pass">Password:</label>
          <input type="password" name="pass" id="pass" onfocus="this.value=''">
        </p>
        <button type="button" on-click="validate" id="btnData">Continue</button>
      </form>
      ​
    </template>
    <template is="dom-if" if="[[acceso]]">
      <h2>Bienvenido [[acceso]]</h2>
    </template>
  </template>

  <script>
    /**
     * `ejercicio-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EjercicioElement extends Polymer.Element {
      static get is() { return 'ejercicio-element'; }
      static get properties() {
        return {
          usuarios: {
            type: Array,
            value: [{
              username: 'ernamo',
              password: '123',
              name: 'Ernesto',
              last: 'Perez',
              rol: 'seller'
            }, {
              username: 'jun231',
              password: 'try34t',
              name: 'Jimena',
              last: 'Olguin',
              rol: 'admin'
            }, {
              username: 'patrr12',
              password: 'oplle1',
              name: 'Patricia',
              last: 'Jimenez',
              rol: 'seller'
            }]
          },
          acceso: {
            type: String,
            value: ""

          }
        };
      }
      validate() {
        let us = this.shadowRoot.getElementById('user');
        let ps = this.shadowRoot.getElementById('pass');
        let band = 0;
        this.usuarios.forEach(key => {
          if (us.value == key.username && ps.value == key.password) {
            console.log("Acceso correcto!\nusername: " + us.value + "\n password: " + ps.value);
            this.acceso = key.name;
          } else {
            band++;
          }
        });
        if (band == this.usuarios.length) {
          console.log("El nombre de usuario: " + us.value + " o la contraseña: " + ps.value + " no son correctos");
          alert("El nombre de usuario: " + us.value + " o la contraseña: " + ps.value + " no son correctos");
        }
      }
    }

    window.customElements.define(EjercicioElement.is, EjercicioElement);
  </script>
</dom-module>